
<!--
  <app-nav-header></app-nav-header>

    -->
    <app-header></app-header>
<br><br> 

 <div class="main-content" >
    <div class="container-fluid"> 
      
        
            <div style="text-align: center;">
            
              <img src="https://besco.com.pe/uploads/logo-header.svg"  alt="imagen nosotros home"
              style="height: 112px;
              width: auto !important;
              margin-top: 10%;">
              <h4  class="mb-4" style="margin-top: 50px;"> Portal de Proveedores</h4>
          </div>
            <!--<div class="col-lg-6 col-md-6 col-sm-6" *ngIf="UserAdmin">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <br> 
                        <h4 class="card-category">Consulta De Facturas</h4>
                        
                          <img   src="../../assets/factura.png"     style="width: 100px;
                          height: auto;"     />
                          <br>
                          
                        
                    </div> 
                    <div class="card-footer">
                      <div class="stats">
                        <button mat-raised-button type="submit" [routerLink]="['/Factura-consulta-user']" class="btn btn-primary">Seleccionar</button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="UserAdmin">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <br> 
                        <h4 class="card-category">Aprobacion Factura Electronica</h4>
                        
                          <img   src="../../assets/factura.png"     style="width: 100px;
                          height: auto;"     />
                          <br>
                          
                        
                    </div> 
                    <div class="card-footer">
                      <div class="stats">
                        <button mat-raised-button type="submit" class="btn btn-suscess" [routerLink]="['/Factura-Aprobacion']">Seleccionar</button>
                      </div>
                    </div>
                </div>
            </div>-->
          
    </div>
  </div>
 
<app-switcher></app-switcher>
   
